    {{> header}}

    {{> navbar}}

   
   <div class="row">
       <div class="col-8">
           <h1>Beatrize| Re zero</h1>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto necessitatibus inventore, esse harum quos repellendus temporibus blanditiis, consectetur ullam tenetur corporis culpa, fuga dolor quis. Iste minima rem vero neque!</p>
       </div>
       <div class="col-4">
           <img src="Assets/img/beako.jpg" class="img-thumbnail">
       </div>

   </div>
    
    {{> footer}}